@tailwind base;
@tailwind components;
@tailwind utilities;


[disabled] {
    opacity: .6;
    cursor: not-allowed;
}

.darkened .absolute {
    background-color: rgba(0, 0, 0, 0.5) !important;
    transition: background-color 0.3s ease;
}


.active_set {
    background: #565555;
    border: 1px solid #3F991D;
}